body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
}

/* LOGIN PAGE */
.login-container {
    max-width: 400px;
    margin: 80px auto;
    background: rgb(95, 189, 226);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px #ddd;
}

.subtitle {
    color: #777;
    margin-bottom: 20px;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    width: 95%;
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

.btn:hover {
    background: #0056b3;
}

/* HOME PAGE */
.home-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    padding: 8px 15px;
    background: crimson;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.stats-card, .mission-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.stat .label {
    color: #777;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 20px;
}

.progress-fill {
    height: 100%;
    background: #28a745;
    border-radius: 20px;
}

.mission-card ul {
    padding-left: 20px;
}

/* ERROR MESSAGE STYLE */
.error {
    color: crimson;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* DASHBOARD LAYOUT */
.dashboard {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #222;
    color: white;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    margin: 8px 0;
    background: #333;
    border-radius: 5px;
}

.sidebar li.active,
.sidebar li:hover {
    background: #007bff;
    cursor: pointer;
}

/* MAIN CONTENT */
.main {
    margin: 0;
    flex: 1;
    font-family: Arial, sans-serif;
    padding: 25px;
    background: transparent;
}

.title {
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
}

.big {
    font-size: 32px;
    font-weight: bold;
}

/* MISSIONS */
.mission-section {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
}

.mission-section ul {
    padding-left: 20px;
}

/* LOGOUT BUTTON */
.logout-btn {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background: crimson;
    border: none;
    color: white;
    border-radius: 8px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }
}

.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.quiz-title {
    text-align: center;
    margin-bottom: 20px;
}

.quiz-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

.answer-btn {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
}

.answer-btn:hover {
    background: #0056b3;
}

.correct {
    background: green !important;
}

.wrong {
    background: crimson !important;
}

.next-btn {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.back-btn {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: inherit;
}

.lesson-header {
    width: 100%;
    padding: 12px;
    background: #4e73df;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.lesson-content {
    display: none;
    background: #f8f9fc;
    padding: 15px;
    border-left: 3px solid #4e73df;
    border-radius: 5px;
    
}

.lesson-content.show {
    display: block;
}

.lesson-detail {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

.lesson-detail p {
    margin-bottom: 20px;
}

.lesson-page {
    text-align: left;
    padding: 25px;
}

/* LESSONS PAGE */
.lesson-box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
}

.start-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.start-btn:hover {
    background: #0056b3;
}